@font-face {
    font-family: 'gipsierokracxed';
    src: url('fonts/gipsiero_kracxed-webfont.woff2') format('woff2'),
         url('fonts/gipsiero_kracxed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.left-panel {
    flex-grow: 1;
    position: relative;
    width: 60vw;
    min-width: 345px;
    height: 100vh;
    background: url(./background-image.jpg);
    background-size: cover;
  }