@font-face {
    font-family: 'gipsierokracxed';
    src: url('fonts/gipsiero_kracxed-webfont.woff2') format('woff2'),
         url('fonts/gipsiero_kracxed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'gipsierokracxed';
    justify-content: center;
    border: solid blue;
    font-size: 3em;
  }

body {
    display: flex;
    margin: 0;
    border: solid blue;
}

form {
  border: solid blue;
}

div {
  border: solid blue;
}

div .logo {
  margin-bottom: auto;
  margin-top: 10px;
  height: 215px;
}

.logo div {
  display: flex;
  align-items: center;
}

img {
    width: 40vh;
    height: 30vh;
    margin-right: -60px;
}

.left-panel {
    flex-grow: 1;
    position: relative;
    width: 60vw;
    min-width: 345px;
    height: 100vh;
    background: url(assets/background-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .logo {
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
  }