:root {
  font-family: 'kionaregular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'gipsierokracxed';
  src: url('fonts/gipsiero_kracxed-webfont.woff2') format('woff2'),
       url('fonts/gipsiero_kracxed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kionaitallic';
  src: url('fonts/kiona/kiona-itallic-webfont.woff2') format('woff2'),
       url('fonts/kiona/kiona-itallic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kionaregular';
  src: url('fonts/kiona/kiona-regular-webfont.woff2') format('woff2'),
       url('fonts/kiona/kiona-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  font-family: 'gipsierokracxed';
  border: solid blue;
  font-size: 3rem;
  margin: 0;
  display: flex;
  }

.logo {
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  }

body {
  display: flex;
  margin: 0;
  border: solid blue;
}

div {
  border: solid blue;
}

div .logo {
  margin-bottom: auto;
  margin-top: 10px;
  height: 215px;
  width: 500px;
}

div .logo div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 40vh;
  height: 30vh;
  min-width: 250px;
  min-height: 250px;
  margin-right: -50px;
}

form {
  border: solid blue;
}

.left-panel {
  width: 40vw;
  height: 100vh;
  min-width: 420px;
  background: url(assets/background-image.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  }

  .right-panel {
    font-size: 1.5rem;

    display: flex;
    width: 60vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
    background-color: rgb(240, 240, 240);
  }

  .header {
    font-weight: 600;
  }

  .header, .submit-section {
    padding: 0px 2vw;
  }

  .input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 2vw 3rem 2vw;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);

    margin: 50px 0px;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    font-size: 1rem;
  }

  button {
    font-size: 1.3rem;
    /* background-color: #e35624; */
    background-color: #ba623c;
    border-radius: 5px;
    border: none;
    color: white;
    padding: .8rem 1.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253)
  }